### Ciência dos dados [Projeto 3]: PNADC - Uso dos microdados de 2023
### Profa Orientadora: Maria Kelly Venezuela

### Tema escolhido: Uso de variáveis explicativas específicas para estimar o rendimento médio mensal real de um cidadão brasileiro.

### Grupo 8:
    - Guilherme Mitsuo Yabushita Nakama
    - Lina Furukawa Queiros
    - Lucca de Magalhães Castro Fernandes
    - Maria Clara Hirano
___

In [2]:
import pandas as pd

___
## Texto introdutório ao trabalho:

#### O objetivo escolhido para tratar neste projeto é o de prever a faixa de renda de um/uma brasileiro/a, baseado em diversas características desta pessoa, como: Escolaridade, cor e raça, idade, sexo e região. Para isso, o grupo fará a utilização de uma base de microdados do PNAD (Pesquisa nacional por amostra de domicílios contínua), nesta base, estão disponíveis uma grande quantidade de características dos moradores de cada domicílio, dentre estas características, encontram-se as variáveis features que o grupo utilizará para prever o comportamento da variável target (faixa de renda de um destes moradores).

#### Para melhor compreender o panorama geral da distribuição de renda no país, o grupo consultou um artigo do Valor Econômico (portal de notícias sobre economia do grupo Globo), intitulado: “Você é rico ou pobre? Confira a calculadora e saiba em que posição está na distribuição de renda no Brasil”. Com a leitura da matéria pode-se observar que em 2023, metade da população brasileira possuía uma renda per capita de até R$ 1.177,00 por mês. O rendimento médio per capita no país em 2023 foi de aproximadamente: R$ 1.818,00.
	
#### Considerando que o salário mínimo no país era de R$ 1.320,00 em 2023, pode-se concluir que metade da população recebia abaixo do salário mínimo e a média salarial per capita do país está próximo a esse salário mínimo.

___
### Variável Target: Rendimento médio mensal de um cidadão brasileiro.

___
### Variáveis explicativas (features): 

- Escolaridade

- Cor e raça

- Idade

- Sexo

- Região

___
## Período selecionado:

### Segundo trimestre de 2023.

### Link para base de micro-dados deste período:

In [5]:
url2 = 'https://www.dropbox.com/scl/fi/kvhduq8ocy2o1yj4l0ycc/pnad23_2.csv?rlkey=ni8nhwkv84xg59mp1cnd4gsto&st=yr8uiq5k&dl=1'

___

## Amostra geral da base de micro-dados utilizada para melhor compreensão:

### Abaixo segue uma demonstração de como está organizada a base de dados para melhor compreensão do leitor sobre as manipulações e análises exploratórias que serão feitas.

In [6]:
pnad23_2_all = pd.read_csv(url2)
pnad23_2_all

,Ano,Trimestre,UF,Capital,RM_RIDE,UPA,Estrato,V1008,V1014,V1016,...,V1028191,V1028192,V1028193,V1028194,V1028195,V1028196,V1028197,V1028198,V1028199,V1028200
0,2023,2,11,11.0,NaN,110000016,1110011,1,10,3,...,451.548556,200.231600,239.078436,508.791587,0.000000,0.000000,515.061463,0.000000,0.0,225.178143
1,2023,2,11,11.0,NaN,110000016,1110011,1,10,3,...,451.548556,200.231600,239.078436,508.791587,0.000000,0.000000,515.061463,0.000000,0.0,225.178143
2,2023,2,11,11.0,NaN,110000016,1110011,2,10,3,...,217.964623,98.704681,108.979781,230.958261,0.000000,0.000000,248.378245,0.000000,0.0,111.051514
3,2023,2,11,11.0,NaN,110000016,1110011,3,10,3,...,452.393952,212.449131,229.969963,498.761017,0.000000,0.000000,532.511276,0.000000,0.0,229.261311
4,2023,2,11,11.0,NaN,110000016,1110011,3,10,3,...,452.393952,212.449131,229.969963,498.761017,0.000000,0.000000,532.511276,0.000000,0.0,229.261311
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474570,2023,2,53,53.0,NaN,530060880,5310111,13,11,1,...,393.082569,0.000000,0.000000,416.131491,806.942713,406.701836,399.331903,408.248725,0.0,0.000000
474571,2023,2,53,53.0,NaN,530060880,5310111,13,11,1,...,393.082569,0.000000,0.000000,416.131491,806.942713,406.701836,399.331903,408.248725,0.0,0.000000
474572,2023,2,53,53.0,NaN,530060880,5310111,14,11,1,...,306.219511,0.000000,0.000000,317.890988,654.353840,322.037855,306.475497,312.130129,0.0,0.000000
474573,2023,2,53,53.0,NaN,530060880,5310111,14,11,1,...,306.219511,0.000000,0.000000,317.890988,654.353840,322.037855,306.475497,312.130129,0.0,0.000000
474574,2023,2,53,53.0,NaN,530060880,5310111,14,11,1,...,306.219511,0.000000,0.000000,317.890988,654.353840,322.037855,306.475497,312.130129,0.0,0.000000

___
## Filtragem das variáveis explicativas (features):

### Para atingir o objetivo de estimar a faixa de renda de um cidadão a partir das variáveis (features) selecionadas destas pessoas, o grupo inicialmente filtrou a base de microdados para que fossem guardados os valores em tabela apenas das variáveis (features) selecionadas. Como são muitos dados disponíveis para consulta, caso isso não fosse feito, a base de dados ficaria pesada e poluída, dificultando assim a organização e a análise exploratória destes dados. 

### Além disso, os títulos das colunas desta base de micro-dados, são codificados e não são de fácil compreensão, por exemplo: A variável idade na base dados é identificada como "V2009", cor ou raça é identificada como "V2010" e Sexo é identificado por "V2007". Esta codificação de informações torna a compreensão do conjunto de micro-dados mais difícil. Sendo assim, o grupo utilizou a função "rename" para renomear as colunas e tornar a base de microdados mais fácil de ser interpretada.

In [10]:
# Colunas selecionadas:
colunas = ['Ano',
           'Trimestre',
           'UF',    # Estado
           'V1022', # Situação do domicílio
           'V2007', # Sexo
           'V2009', # Idade
           'V2010', # Cor ou raça
           'V3009A', # Nível de instrução mais elevado alcançado
           'V4012', # Posição ocupada no trabalho principal
           'V403312',] # Rendimento bruto mensal

# Leitura da base de dados filtrando apenas as colunas contidas na lista 'colunas'
pnad23_2_small = pd.read_csv(url2, usecols=colunas)

# Renomeando as colunas para facilitar a compreensão
pnad23_2_small.rename(columns={'V1022':'Area',
                               'V2007':'Sexo',
                               'V2009':'Idade',
                               'V2010':'Cor_Raca',
                               'V3009A':'Escolaridade',
                               'V4012':'Trabalho',
                               'V403312':'Renda'}, inplace=True)
pnad23_2_small

,Ano,Trimestre,UF,Area,Sexo,Idade,Cor_Raca,Escolaridade,Trabalho,Renda
0,2023,2,11,1,1,30,4,10.0,6.0,5000.0
1,2023,2,11,1,2,29,4,10.0,NaN,NaN
2,2023,2,11,1,2,50,4,12.0,4.0,3500.0
3,2023,2,11,1,2,25,4,10.0,NaN,NaN
4,2023,2,11,1,2,2,4,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
474570,2023,2,53,1,1,38,1,13.0,3.0,10000.0
474571,2023,2,53,1,2,30,1,NaN,3.0,2500.0
474572,2023,2,53,1,1,51,1,12.0,3.0,5000.0
474573,2023,2,53,1,2,56,1,12.0,4.0,5000.0
474574,2023,2,53,1,2,18,1,NaN,NaN,NaN

___

### Alteração da descrição da categoria das variáveis qualitativas 

#### Variáveis qualitativas são variáveis que não possuem um valor númerico, são normalmente utilizadas para definir rótulos. Entretanto, na base de micro-dados analisada, o conteúdo das colunas de variáveis qualitativas está preenchido com números, o que dificulta a compreensão de cada elemento da coluna. Por exemplo: Na coluna "Sexo", homem está definido como "1" e mulher esta definido como "2", quando na realidade homens deveriam estar definidos como "Homem" e mulheres como "Mulher". Sendo assim, o grupo fez a utilização da função "rename_categories" para trocar as categorias de um valor númerico (1 e 2), para rótulos (Homem e Mulher).

In [8]:
# Dataframe original com categorias representadas por NÚMEROS
pnad23_1_small.Sexo.value_counts()

NameError: name 'pnad23_1_small' is not defined

In [ ]:
# Alterando as categorias pelas suas descrições - VEJA AULA DO NOSSO CURSO
pnad23_1_small.Sexo = pnad23_1_small.Sexo.astype('category')
pnad23_1_small.Sexo = pnad23_1_small.Sexo.cat.rename_categories({1:'Homem', 2:'Mulher'})
pnad23_1_small.Sexo.value_counts(True).round(3)*100

Sexo
Mulher    51.6
Homem     48.4
Name: proportion, dtype: float64

___

### Análise exploratória dos dados obtidos

#### Variáveis quantitativas são aquelas que possuem um valor númerico que permite que sejam feitas operações matemáticas com outras varáveis quantitativas, além disso, com variáveis deste tipo é possível extrair coeficientes de correlação que são fundamentais para comprender são diretamente proporicionais, inversamente proporcionais, ou isoladas. Caso este coeficiente seja maior que zero, serão diretamente proporcionais, menor que zero, inversamente proporcionais e igual a zero, isoladas (o valor de uma variável não interfere no da outra).

#### Agora, com a base de microdados organizada e categorizada corretamente, o grupo irá fazer a análise exploratória dos dados. Esta análise consiste em realizar o cruzamento de dados entre a variável target (renda média mensal) com as demais variáveis explicativas. A partir deste cruzamento de dados, é possível plotar gráficos de diferentes formatos e extrair coeficientes de correlação entre variáveis quantitativas. Os resulatdos desta análise exploratória de dados são fundamentais para prever o comportamento da variável target, considerando as variáveis explicativas selecionadas.

#### A depender do tipos das variáveis que estão sendo relacionadas, existem modelos de gráficos específicos que devem ser utilizados para cada uma. Quando a relação é entre duas variáveis quantitativas, deve-se utilizar os gráficos de dispersão, quando ambas são qualitativas, deve-se utilizar os gráficos de barras "stacked" e por fim, quando se tratam de uma variável quantitativa e uma qualitativa, deve-se utilizar os gráficos do tipo Histograma ou Boxplot.